@font-face {
    font-family: 'Agency FB';
    src: url('../../fonts/AgencyFB-Reg.woff2') format('woff2'),
         url('../../fonts/AgencyFB-Reg.woff')  format('woff'),
         url('../../fonts/AgencyFB-Reg.ttf')   format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/***********************************************/

:root {
    --black:                     rgb(0, 0, 0);
    --medium-grey:               rgb(44, 44, 44);
    --dark-grey:                 rgb(20, 20, 20);
    --darker-grey:               rgb(14, 14, 14);
    --white:                     rgb(255, 255, 255);
    --accent-colour:             rgb(218, 224, 33);
    --accent-colour-hover:       rgb(166, 172, 17);
    --accent-colour-translucent: rgba(218, 224, 33, 0.337);
  }

html, body {
    overflow-x: hidden;
    height: 100%;
}

#logo_img {
    margin: -70px 0;
    transition: ease 0.3s;
}

#wrapper {
    position: absolute;
    top: 50%;
    transform: translate(60%, -50%);
    background-color: var(--medium-grey);
    width: 45%;
    padding: 2rem 0;
    border: 1px solid var(--accent-colour-translucent);
    border-radius: 10px;
    box-shadow: 0 0 12px var(--accent-colour-translucent);
    transition: ease 0.3s;
}

#usernameRow, #passwordRow, #bottomRow {
    margin: auto;
    padding-top: 3em;
}
#usernameRow { margin-top: 2.5em; }

.textBox {
    font-family: "Agency FB";
    color: var(--accent-colour);
    font-size: 1.8em;
    margin-right: 20px;
    vertical-align: middle;
    transition: ease 0.3s;
}
#passwordRow .textBox { transition: ease 0.3s; }

.inputBox {
    width: 25vw;
    max-width: 600px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    color: var(--darker-grey);
    border: 2px solid #50505044;
    border-radius: 5px;
    outline: none;
    transition: ease 0.3s;
}
#passwordRow .inputBox {
    font-size: 1.5em;
}
.inputBox:hover {
    color: var(--white);
    border-color: var(--accent-colour);
    background-color: var(--accent-colour-translucent);
}

.loginText {
    font-family: sans-serif;
    margin-right: 1em;
    vertical-align: middle;
    transition: ease 0.3s;
}
#bottomRow a {
    color: var(--white);
    font-size: 0.85em;
    font-style: oblique;
}
#bottomRow a:hover { color: var(--accent-colour); }

#bottomRow button {
    background-color: var(--accent-colour);
    color: var(--darker-grey);
    font-family: "Agency FB";
    font-size: large;
    font-weight: bold;
    border: none;
    width: 13vw;
    max-width: 200px;
    height: 40px;
    border-radius: 5px;
    transition: ease 0.3s;
    cursor: pointer;
}
#bottomRow button:hover { background-color: var(--accent-colour-hover); }
#bottomRow button:disabled { background-color: rgb(179, 179, 179);   cursor: auto; }

#error {
    color: red;
    font-family: sans-serif;
    font-size: 0.8em;
    margin-top: 1em;
}

#pageWrap {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-grey);
}
#background {
    background-size: cover;
    height: 100vh;
    opacity: 15%;
}

/***********************************************/

@media only screen and (max-width: 975px) {
    #logo_img {
        height: 55px;
        margin-bottom: -45px;
    }

    #usernameRow, #passwordRow, #bottomRow { padding-top: 1.5em; }
}

@media only screen and (max-width: 786px) {
    #logo_img { height: 40px; }

    #usernameRow, #passwordRow, #bottomRow { padding-top: 1em; }
    
    .textBox { font-size: 1.4em; }

    .inputBox {
        height: 30px;
        font-size: 1em;
    }
}

@media only screen and (max-width: 786px) {
    #bottomRow a { font-size: 0.75em; }

    .textBox { margin-right: 10px; }

    #bottomRow button {
        height: 30px;
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {
    #logo_img {
        height: 25px;
        margin-bottom: -40px;
    }
}

@media only screen and (max-width: 520px) {
    #usernameRow, #passwordRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .textBox {
        font-size: 1.2em;
        margin-right: 0;
    }

    #bottomRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bottomRow button {
        margin-top: 30px;
        margin-bottom: -30px;
    }

    #error {
        font-size: 0.6em;
        margin-top: 50px;
    }
}